.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 100px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap:0px
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    h1 {
      font-size: 100px;
      background: linear-gradient(to right, #0458d6, #df405f);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      @media screen and (max-width: 1280px) {
        font-size: 64px;
      }
    
    }
    h3 {
      font-weight: 400;
      max-width: 70%;
      @media screen and (max-width: 1080px) {
        max-width: 100%;
      }
    }
    a {
      padding: 15px 25px;
      background-color: #0458d6;
      color: white;
      border-radius: 20px;
      font-size: 14px;
      margin-top: 20px;
      &:hover {
        background-color: white;
        color: #0458d6;
      }
    }
  }


  .right {
    flex: 1;
    .robot {
      width: 100%;
      height: 100%;
      animation: 3s ease-in-out infinite alternate robotAnimate;
    }
    .chat {
      position: absolute;
      bottom: 10px;
      right: 100px;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      background-color: #fff;
      border-radius: 10px;
      color: black;
      @media screen and (max-width: 1080px) {
        display:none
      }
      @media screen and (max-width: 1080px) {
        right:0;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }


  .terms {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    img {
      width: 20px;
      height: 20px;
    }
    .links {
      display: flex;
      gap: 10px;
      color: #fff;
      font-size: 10px;
    }
  }
}

@keyframes robotAnimate {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(1.1) translateX(-10%);
  }
}
